<nav class="nav-bar js-active">
  <a class="logo" href="">
    <img class="logo__img" height="51" width="106" src="img/logo.webp" alt="Логотип сайта">
  </a>

  <!-- ниже должны были быть свг, но у меня фотошоп старый давно его не использовал, а со старого не вырезаются свг, время терять на это не стал, с мыслью "может перед сдачей найду как вырезать svg, а пока сверстаю так" -->

  <ul class="nav-bar__list">
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/home.webp);"></span>
        Главная
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/cart.webp);"></span>
        Мои магазины
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/megaphone.webp);"></span>
        Промоматериалы
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/pie-chart.webp);"></span>
        Статистика
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/wallet.webp);"></span>
        Баланс
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/profile.webp);"></span>
        Персональные данные
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/information.webp);"></span>
        FAQ
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/music.webp);"></span>
        Техподдержка
      </a>
    </li>
    <li class="nav-bar__item">
      <a class="nav-bar__link icon-link" href="">
        <span class="icon-link__ico" style="background-image: url(img/logout.webp);"></span>
        Выход
      </a>
    </li>
  </ul>
</nav>

<div class="nav-bar-fixed js-active">
  <button class="nav-bar-burger burger" type="button">
    <span class="burger__line"></span>
    <span class="hide"> открыть/закрыть меню</span>
  </button>
</div>